head{
	
	background-color: #824555;
	
	
}

h1{
	
	height: 200px;
	width: 100%;
	color: white;
	
	background-color: #824555;
}

body{
	
	background-color: #f0eae2;
	
}

h2{
	
	text-align: center;
}

kwerenda{
	
	background-color: Maroon;
}